.bottom {
    padding-top: 47px;
}

.bottom {
    min-height: 158px;
    background-color: #2F324B;;
}

.bottom__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 10px;
}

.bottom__company {
    display: flex;
    align-items: center;
    gap:12px;
}

.bottom__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
}

.border {
    min-width: 127px;
    white-space: pre-line;
    padding-left:1px ;
    padding-bottom: 1px;
}

.bottom__contacts {
    padding-right: 1px;
    padding-bottom: 5px;
}

.small-screen-footer {
   display: none;
}


@media (max-width: 1024px) {
    .bottom {
        padding-top: 38px;
        min-height: 146px;
    }
    .bottom__logo {
        width: 60px;
        height: 60px;
    }

    .bottom__ivan  {
        max-width: 200px;
        padding-right: 10px;

    }
    .small-screen-footer {
        display: none;
    }

}


@media (max-width: 600px) {

    .bottom {
        min-height: 80px;
        padding-top: 23px;
    }
    .bottom__logo {
        width: 30px;
        height: 30px;
    }

    .bottom__text {
        font-size: 8px;
        line-height: 11px;
    }

    .bottom__contacts {
        padding-top: 5px;
    }

    .bottom__text-small-screen {
        text-align: center;
        font-weight: 500;
        font-size: 12px;
        line-height: 17px;
        color: #FFFFFF;
        padding-top: 14px;
        display:block;

    }

    .master {
        display: none;
    }

    .small-screen-footer {
        height: 47px;
        background-color:  #2A2C3F;
        display: block;
        position: relative;
    }


    .small-screen-footer:after {
        content: '';
        background-color: rgba(47, 50, 75, 0.50);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }

    .bottom__company {
        gap:19px;
    }

    .border {
        text-align: left;

    }

}