body {
    position: relative;
    margin: 0;
    padding: 0;
    color: #fff;
}

.header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    padding-top: 40px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.logo {
    width: 68px;
    height: 68px;
}

.header__contacts {
    padding-top: 9px;
}

.header__phone {
    font-weight: 400;
    font-size: 23.85px;
    line-height: 28px;
    margin-bottom: 3px;
}

.header__phone-link {
    line-height: 19px;
    text-decoration: underline white;
    text-underline-offset: 5px;
}

.introduction {
    background-image: url("../image/stag-office-mockup.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-height: 732px;
    position: relative;
    margin-bottom: 0;

}

.introduction:after {
    content: '';
    background-color: rgba(47, 50, 75, 0.85);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

}

.introduction__container {
    position: relative;
    z-index: 2;
    text-align: center;
    padding-top: 228px;
}

.introduction__title {
    font-weight: 900;
    font-size: 52px;
    line-height: 61px;
    text-align: center;
    color: rgba(255, 255, 255, 0.86);
    max-width: 990px;
    margin: 0 auto 32px;
    padding-right: 4px;
}

.introduction__text {
    font-weight: 400;
    font-size: 22px;
    line-height: 31px;
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
    max-width: 960px;
    margin: 0 auto 90px;
    height: auto;

}

.introduction__btn {
    width: 200px;
    height: 48px;
    background: #15A9CB;
    box-shadow: 0 4px 25px rgba(21, 169, 203, 0.3);
    border-radius: 50px;
    border: transparent;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 116px;
    padding-right: 3px;
}


.for-small-screen {
        display: none;
    }


@media (max-width: 1024px) {

    .header {
        padding-top: 26px;
    }

    .header__contacts {
        padding-top: 5px;
        padding-right: 2px;
    }

    .introduction__title {
        font-size: 40px;
        line-height: 47px;
        max-width: 780px;
        padding-left: 2px;
        margin-bottom: 28px;
    }

    .introduction__text {
        font-size: 18px;
        line-height: 25px;
        max-width: 754px;
        margin-bottom: 56px;
    }

    .introduction {
        max-height: 528px;
    }

    .introduction__btn {
        margin-bottom: 70px;
    }

    .for-small-screen {
        display: none;
    }

    .header__phone {
        font-size: 21px;
        line-height: 25px;
    }

    .header__phone-link {
        font-size: 13px;
        line-height: 15px;
    }

    .logo {
        max-width: 60px;
        max-height: 60px;
    }

    .introduction__container {
        padding-top: 156px;
    }
}

@media (max-width: 380px)  {
    .header {
        padding-top: 15px;
    }
    .introduction__title {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 26px;
    }

    .introduction__text {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 53px;
    }

    .container {
        padding: 0 15px;
    }

    .header__phone,
    .header__phone-link {
         display: none;
    }

    .for-small-screen {
        display: block;
        width: 24px;
        height: 24px;
    }

    .header__contacts {
        padding-top: 3px;
        padding-right: 0;
    }

    .logo {
        max-width: 30px;
        max-height: 30px;
    }

    .introduction__btn {
        max-width: 160px;
        height: 38px;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 65px;
        padding-left: 3px;
    }

    .introduction {
        background-position:  left;
        max-height: 441px;
    }
    .introduction__container {
        padding-top: 110px;
    }

    span {
        display: none;
    }
}