body {
    posititon: relative;
    z-index: 1;
    margin: 0;
    color: #fff;
}

.header {
    position: relative;
    z-index:4;
    padding-top: 49px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.header__phone {
    font-size: 23.85px;
    line-height: 28px;
    margin-bottom: 3px;
}

.header__phone-link {
    line-height: 19px;
    text-decoration: underline white;
    text-underline-offset: 5px;
}

@media (max-width: 1024px){

}