.about-us {
    color:#383A4C;
    /*padding-top: 680px;*/
}

.about-us__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    margin-bottom: 25px;

}

.about-us__small-title {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    position: relative;
    margin-bottom: 35px;


}

.about-us__small-title:before {
    content: " ";
    Width: 43px;
    Height: 2px;
    background: #383A4C;

}

.about-us__small-title:after {
    content: " ";
    Width: 43px;
    Height: 2px;
    background: #383A4C;


}

.about-us__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    max-width: 724px;
    margin: 0 auto 50px;
}

.about-us__advantages {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0 auto 70px;
    max-width: 884px;
}

.about-us__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:16px;
}

.about-us__img {
    max-width: 122px;
    max-height: 122px;

}

.about-us__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #383A4C;
}

@media (max-width: 1024px){
    .about-us__title {
        font-size: 32px;
        line-height: 38px;
    }

    .about-us__small-title {
        font-size: 20px;
        line-height: 23px;
    }

    .about-us__description {
        font-size: 16px;
        line-height: 23px;
    }

    .about-us__text {
        font-size: 18px;
        line-height: 25px;
    }

    .about-us__img{
        max-width: 104px;
        max-height: 104px;
    }
    .about-us__small-title:before {
        left:400px;
    }

    .about-us__small-title:after {
        right:400px;
    }
    .about-us__advantages {
        flex-wrap: wrap;
        gap: 20px;
    }
}

@media (max-width: 380px) {
    .about-us__title {
        font-size: 20px;
        line-height: 23px;
    }

    .about-us__small-title {
        font-size: 16px;
        line-height: 19px;
    }

    .about-us__description {
        font-size: 12px;
        line-height: 17px;
    }

    .about-us__advantages {
        flex-direction: column;
        gap: 40px;

    }
    .about-us__text  {
        max-width: 166px;

    }
}