.about-us {
    color:#383A4C;
    padding-top: 70px;
    padding-bottom: 70px;
}

.about-us__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    margin-bottom: 25px;
    padding-right: 4px;

}

.about-us__small-title {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    position: relative;
    margin-bottom: 35px;
    padding-right: 4px;
}

.about-us__small-title:before {
    content: " ";
    Width: 43px;
    Height: 2px;
    background: #383A4C;

}

.about-us__small-title:after {
    content: " ";
    Width: 43px;
    Height: 2px;
    background: #383A4C;
}

.about-us__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    max-width: 724px;
    margin: 0 auto 62px;
    padding-right: 4px;
}

.about-us__advantages {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin:0 auto 2px;
    max-width: 984px;
}

.about-us__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 196px;
    gap: 11px;
}

.about-us__img {
    width: 122px;
    height: 122px;

}

.about-us__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #383A4C;
}

@media (max-width: 1024px){
    .about-us {
        min-height: 565px;
    }

    .about-us__title {
        font-size: 32px;
        line-height: 38px;
    }

    .about-us__small-title {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 30px;

    }

    .about-us__description {
        font-size: 16px;
        line-height: 23px;
        max-width: 666px;
        margin-bottom: 60px;
    }

    .about-us__item {
        gap:24px;
        max-width: 180px;
    }

    .about-us__text {
        font-size: 18px;
        line-height: 25px;
    }

    .about-us__img{
        max-width: 104px;
        max-height: 104px;
    }
    .about-us__small-title:before {
        left:400px;
    }

    .about-us__small-title:after {
        right:400px;
    }
    .about-us__advantages {
        flex-wrap: wrap;
        gap: 20px;
        max-width: 898px;
    }
}

@media (max-width: 380px) {

    .about-us {
        padding-top: 30px;
        max-height: 1176px;
    }

    .about-us__title {
        font-size: 20px;
        line-height: 23px;
        padding-left: 4px;
        margin-bottom: 18px;
    }

    .about-us__small-title {
        font-size: 16px;
        line-height: 19px;
        padding-left: 4px;
        margin-bottom: 29px;
    }

    .about-us__description {
        font-size: 12px;
        line-height: 17px;
        padding-left: 4px;
        margin-bottom: 40px;
    }

    .about-us__advantages {
        flex-direction: column;
        gap: 40px;
        height: 848px;

    }
    .about-us__text  {
        max-width: 166px;

    }
}